body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

nav {
  width: 100%;
  display: flex;
  position: fixed;
  background-color: red;
  z-index: 99;
}

nav a {
  color: #E6E6E6;
  margin: auto 15px auto 30px;
  text-decoration: none;
  font-weight: bold;
}

nav li {
  float: left;
  list-style: none;
  margin-left: 40px;
  color: #D8D8D8;
}

h1.term_resp {
  text-align: center;
}

h3.term_resp {
  text-align: center;
  font-size: medium;
  font-family: sans-serif;

}

h4.form_cadastro {
  font-size: smaller;
}

input.formulario {
  width: 100px;
  height: 20px;
  padding: 12px 100px;
  margin: 8px 0px;
  box-sizing: border-box;
}

form.formulario {

}

